body{
    margin:0;
    font-family:Arial;
    background:#f2f4f8;
}

header{
    background:#1d3557;
    color:white;
    text-align:center;
    padding:20px;
}

section{
    background:white;
    margin:15px;
    padding:15px;
    border-radius:10px;
}

footer{
    background:#1d3557;
    color:white;
    text-align:center;
    padding:10px;
}